
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

header {
    height: 100vh;
    background: rgb(28, 31, 36);
    color: #F7FFF7
}

h1 {
    font-size: 40px;
    padding-bottom: 8px;
}

p {
    padding-bottom: 8px;
}

.socials {
    margin-right: 14px;
}

nav {
    display: flex;
    justify-content: end;
    padding-top: 10px;
    padding-right: 10px;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 300px;
}

a {
    text-decoration: none;
}

header a {
    color: white;
    font-size: 20px;
}

header a:hover {
    color: #337357;
    font-weight: bold;
}

.header-text {
    margin: 40vh 0px 0px 70px;
}

section {
    height: 120%;
    background: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    color: #001514;
}

#projects {
    height: 100%;
}

#projects h2 {
    text-align: center;
}

#projects a {
    margin: 10px;
    color: #337357;
    font-size: 15px;
}

#projects a:hover {
    font-weight: bold;
}

h2 {
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 50px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.project-card {
    width: 240px;
    height: 300px;;
    box-shadow: 4px 4px 8px 2px rgb(196, 196, 196);
    margin: 10px;
}

.project-card:hover {
    box-shadow: 4px 4px 10px 2px rgb(150, 150, 150);
}

.image {
    width: 230px;
    height: 205px;
    border-radius: 10px;
    padding: 5px;
}

hr {
    margin: 10px;
}

input {
    width: 50%;
    height: 20px;
    margin-bottom: 5px;
}

textarea {
    width: 50%;
}

button {
    background: #337357;
    border-radius: 5px;
    border: 1px #337357 solid;
    padding: 8px;
    color: white;
    margin-right: 10px;
}

button:hover {
    background: black;
    border: 1px black solid;
}

footer {
    height: 100px;
    background: rgb(28, 31, 36);
    color: white;
    text-align: right;
}

footer p {
    font-size: 12px;
    padding: 15px;
}

button a {
    text-decoration: none;
    color: white;
}

